@import '../../assets/sass/color.scss';
.navigatorAuthContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 364px;
    height: 45px;
    &-text{
        font-size: 14px;
        color: $grayColorDark;
        margin-right: 6px;
        line-height: 21px;
    }
    &-link{
        text-decoration: none;
        font-size: 14px;
        color: $blueColor;
        font-weight: 600;
        line-height: 21px;
    }
}