@import "@/assets/sass/color.scss";

.countersWave{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 364px;
    height: 104px;
    background-color: $whiteColorLight;
    border-radius: 8px;
    border: 1px solid $grayColor;
    &-label{
        display: flex;
        flex-direction: column;
        align-items: center;
        &-number{
            font-size: 36px;
            line-height: 45px;
            color: #252631;
        }
        &-text{
            font-size: 14px;
            line-height: 16px;  
            color: $grayColorDark;  
        }
    }
    &-img{
        width: 194px;
        height: 56px;
    }
}