.contentDashboard{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    // width: calc(100vw - 252px);
    &-left{
        display: flex;
        flex-direction: column;
        gap: 24px;
        flex: 1;
        width: 752px;
    }
    &-right{
        width: 364px;
    }
}