$darkColor: #252631;
$blueColor: #4D7CFE;
$whiteColor: #F8FAFB;
$whiteColorLight: #FFFFFF;
$grayColor: #E8ECEF;
$grayColorDark: #778CA2;
$pinkColor: #FE4D97;
$pinkColorLight: #FE4D97;



@mixin text-config($font-size,$font-weight, $line-height, $color) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    color: $color;
}

@mixin flex-gap-col($gap) {
    display: flex;
    flex-direction: column;
    column-gap: $gap;
}